<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: header">

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <div class="alert alert-danger text-center" th:if="${param.error}">
                                    Invalid Username or password!
                                </div>
                                <div class="alert alert-success text-center" th:if="${param.logout}">
                                    You have Logged out!
                                </div>

                                <form class="user" method="post" th:action="@{/do_login}">
                                    <div class="form-group">
                                        <input aria-describedby="emailHelp" class="form-control form-control-user"
                                               id="username"
                                               name="username" placeholder="Enter Email Username..."
                                               type="email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" id="password" name="password"
                                               placeholder="Password" type="password">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input class="custom-control-input" id="customCheck" type="checkbox">
                                            <label class="custom-control-label" for="customCheck">Remember
                                                Me</label>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" th:href="@{/forgot-password}">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" th:href="@{/register}">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div th:replace="fragment::script"></div>

</body>

</html>