<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org ">
<!-- Basic -->

<head th:replace="fragments:: head"></head>


<body>
<!-- Start Main Top -->
<div th:replace="fragments :: main_top">

</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments :: header"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments :: top_search"></div>
<!-- End Top Search -->

<!-- Start Slider -->
<div th:replace="fragments :: home_menu"></div>

<div class="cart-box-main">
    <div class="text-center alert alert-warning" th:if="${check}">
        <p th:text="${check}"></p>
    </div>
    <div class="container" th:if="${check == null}">
        <div class="row">
            <div class="col-lg-12">

                <div class="table-main table-responsive">
                    <property name="hibernate.connection.autocommit" value="false"/>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Images</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="cart : ${shoppingCart.cartItems}">
                            <td class="thumbnail-img">
                                <a href="#">
                                    <img alt="" class="img-fluid"
                                         th:src="*{'data:image/jpeg;base64,'+{cart.product.image}}"/>
                                </a>
                            </td>
                            <td class="name-pr">
                                <p th:text="${cart.product.name}"></p>
                            </td>
                            <td class="price-pr">
                                <p th:text="${cart.product.sellPrice}+' Rwf'"></p>
                            </td>
                            <form method="post" th:action="@{/update_cart}">
                                <input name="id" th:value="${cart.product.id}" type="hidden">
                                <td class="quantity-box"><input class="c-input-text qty text" min="0" name="quantity" size="4"
                                                                step="1"
                                                                th:value="${cart.quantity}" type="number"></td>
                                <td class="total-pr">
                                    <p th:text="${cart.totalPrice}+' Rwf'"></p>
                                </td>
                                <td class="remove-pr">
                                    <!--                                <a href="#">-->
                                    <!--                                    <i class="fas fa-times"></i>-->
                                    <!--                                </a>-->
                                    <button class="btn btn-primary" name="action" title="Update" type="submit"
                                            value="update">Update
                                    </button>
                                    <button class="btn btn-warning" name="action" title="Delete" type="submit"
                                            value="delete">Remove
                                    </button>
                                </td>
                            </form>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>
                    <div class="d-flex">
                        <h4>Sub Total</h4>
                        <div class="ml-auto font-weight-bold" th:text="${subTotal}+' Rwf'"></div>
                    </div>
                    <div class="d-flex">
                        <h4>Discount</h4>
                        <div class="ml-auto font-weight-bold"> 0 Rwf</div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex">
                        <h4>Tax (<b>18%</b>)</h4>
                        <div class="ml-auto font-weight-bold" th:text="${tax}+ ' Rwf'"></div>
                    </div>
                    <div class="d-flex">
                        <h4>Derivery Cost</h4>
                        <div class="ml-auto font-weight-bold"> Free</div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Grand Total</h5>
                        <div class="ml-auto h5" th:text="${subTotal + tax} + ' Rwf'"></div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a class="ml-auto btn hvr-hover" th:href="@{/checkout}">Checkout</a>
            </div>
        </div>

    </div>
</div>
<!-- End Cart -->

<!-- End Feed  -->
<div th:replace="fragments:: instagram_box"></div>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments:: scripts"></div>
</body>

</html>