<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <!-- Mobile Metas -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Site Metas -->
    <title th:text="${title}"></title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta content="" name="author">

    <!-- Site Icons -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Site CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="main-top" th:fragment="main_top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="our-link">
                    <ul>
                        <li><a href="#"> Call US : +250 78 530 9380</a></li>
                        <li><a href="#"><i class="fas fa-location-arrow"></i> Musanze North RWANDA</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="login-box">
                    <select class="selectpicker show-tick form-control" data-placeholder="Sign In" id="basics"
                            onchange=" location = this.value ">
                        <option th:text="${session.username != null} ? ${session.username} : 'Authentication'"></option>
                        <option th:if="${session.username ==  null}" value="http://localhost:8081/xHirwa/shop/login">
                            Sign in
                        </option>
                        <option th:if="${session.username != null}"
                                value="http://localhost:8081/xHirwa/shop/login?logout">Logout
                        </option>
                        <option value="http://localhost:8081/xHirwa/shop/register">Sign Up</option>
                    </select>
                </div>
                <div class="text-slid-box">
                    <div class="carouselTicker" id="offer-box">
                        <ul class="offer-box">

                            <li>
                                <i class="fab fa-opencart"></i> GAIN (Gura Amagi Igihecyose Neza)
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> You Order we Deliver!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="main-header" th:fragment="header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-target="#navbar-menu" data-toggle="collapse" type="button">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" th:href="@{/index}">Home</a></li>
                    <li class="nav-item active"><a class="nav-link" th:href="@{/home}">Menu</a></li>

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle arrow" data-toggle="dropdown" href="#">Shop</a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/index}">Shop Detail</a></li>
                            <li><a th:href="@{/products}">Product Detail</a></li>
                            <li><a th:href="@{/cart}">Cart</a></li>
                            <li><a th:href="@{/order}">My Order</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!--             Start Atribute Navigation-->

            <li class="side-menu">
                <a target="_self" th:href="@{/cart}">
                    <i class="fa fa-shopping-bag"></i>

                    <p>My Cart<sup class="badge"
                                   th:text="${session.totalItems == null} ? '0' : ${session.totalItems}"></sup>
                    </p>

                </a>
            </li>
            </ul>
        </div>
        <div class="attr-nav">
            <ul>
                <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
            </ul>
        </div>
        </div>
    </nav>
</header>

<div class="top-search" th:fragment="top_search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input class="form-control" placeholder="Search" type="text">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>

<div class="all-title-box" th:fragment="home_menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 th:text="${page}"></h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active"><a th:href="@{/home}">Menu</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="instagram-box" th:fragment="instagram_box">
    <a href="#" id="back-to-top" style="display: none;" title="Back to top">&uarr;</a>
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item" th:each="product : ${allProducts}">
            <div class="ins-inner-box">
                <a href="index.html">
                    <img alt="" class="img-fluid" th:src="*{'data:image/jpeg;base64,'+{product.image}}"/>
                </a>
            </div>
        </div>

    </div>
</div>

<footer th:fragment="footer">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Business Time</h3>
                        <ul class="list-time">
                            <li>Monday - Sunday: 08.00am to 10.00pm</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Contact Us</h3>
                        <ul class="list-time">
                            <li><i class="fas fa-phone-square"></i> Phone number: +250 784 629 003</li>
                            <li><i class="fas fa-envelope"></i> Email: phasetumurere@gmail.com</li>
                            <li><i class="fas fa-map-marker-alt"></i> Address: Musanze Noth Rwanda</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Social Media</h3>
                        <p>Gura Amagi Igihecyose Neza (GAIN)</p>
                        <ul>
                            <li><a href="#"><i aria-hidden="true" class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div th:fragment="scripts">
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- ALL PLUGINS -->
    <script th:src="@{/js/jquery.superslides.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.js}"></script>
    <script th:src="@{/js/inewsticker.js}"></script>
    <script th:src="@{/js/bootsnav.js}"></script>
    <script th:src="@{/js/images-loded.min.js}"></script>
    <script th:src="@{/js/isotope.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/baguetteBox.min.js}"></script>
    <script th:src="@{/js/form-validator.min.js}"></script>
    <script th:src="@{/js/contact-form-script.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</div>

<div class="product-item-filter row" th:fragment="sort_products">
    <div class="col-12 col-sm-8 text-center text-sm-left">
        <div class="toolbar-sorter-right">
            <span>Sort by </span>
            <select class="selectpicker show-tick form-control" data-placeholder="$ USD" id="basic"
                    onchange="location = this.value">
                <option data-display="Select">Nothing</option>
                <option value="http://localhost:8081/xHirwa/shop/filter_highPrices">High Price → Low Price</option>
                <option value="http://localhost:8081/xHirwa/shop/filter_lowPrices">Low Price → High Price</option>
                <option value="4">Best Selling</option>
            </select>
        </div>
        <p>Showing all results</p>
    </div>
    <div class="col-12 col-sm-4 text-center text-sm-right">
        <ul class="nav nav-tabs ml-auto">
            <li>
                <a class="nav-link active" data-toggle="tab" href="#grid-view"> <i class="fa fa-th"></i> </a>
            </li>
            <li>
                <a class="nav-link" data-toggle="tab" href="#list-view"> <i class="fa fa-list-ul"></i> </a>
            </li>
        </ul>
    </div>
</div>


</body>
</html>