<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org ">
<!-- Basic -->

<head th:replace="fragments:: head"></head>


<body>
<!-- Start Main Top -->
<div th:replace="fragments :: main_top">

</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments :: header"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments :: top_search"></div>
<!-- End Top Search -->

<!-- Start Slider -->
<div th:replace="fragments :: home_menu"></div>

<!-- Start All Title Box -->
<!--<div class="all-title-box">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <h2>My Account</h2>-->
<!--                <ul class="breadcrumb">-->
<!--                    <li class="breadcrumb-item"><a href="home.html">Home</a></li>-->
<!--                    <li class="breadcrumb-item active"> My Account</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- End All Title Box -->

<!-- Start My Account  -->
<div class="container">
    <div class="row my-2">
        <div class="col-lg-4 order-lg-1 text-center">
            <img alt="Profile picture" class="mx-auto img-fluid img-circle d-block" height="200px"
                 src="images/profile.jpg"
                 width="200px"/>
        </div>
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h1><b>Your Profile</b></h1>
                    <h2>Linh Dieu <span style="font-size: medium;"></span></h2>
                    <h4>Email: 1701040099@gmail.com</h4>
                    <h4>Phone: 1701040099@gmail.com</h4>
                    <h4>Address: 495 Nguyen Trai, Thanh Xuan, Ha Noi</h4>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="my-account-box-main">
    <div class="container">
        <div class="my-account-page">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"> <i class="fa fa-gift"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Your Orders</h4>
                                <p>Track, return, or buy things again</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"><i class="fa fa-lock"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Login &amp; security</h4>
                                <p>Edit login, name, and mobile number</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"> <i class="fa fa-location-arrow"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Your Addresses</h4>
                                <p>Edit addresses for orders and gifts</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments:: instagram_box"></div>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments:: scripts"></div>
</body>

</html>