<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org ">
<!-- Basic -->

<head th:replace="fragments:: head"></head>
<body>
<!-- Start Main Top -->
<div th:replace="fragments :: main_top"></div>
<!-- Start Main Top -->
<header th:replace="fragments :: header"></header>
<!-- Start Top Search -->
<div th:replace="fragments :: top_search"></div>
<!-- Start Slider -->
<div th:replace="fragments :: home_menu"></div>
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div class="single-product-slider carousel slide" data-ride="carousel" id="carousel-example-1">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"><img alt="First slide" class="d-block w-100"
                                                               th:src="*{'data:image/jpeg;base64,'+{product.image}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="single-product-details">
                    <h2 th:text="${product.name}"></h2>
                    <h5 th:text="'$'+${product.sellPrice}"></h5>
                    <h4>Short Description:</h4>
                    <p th:text="${product.description}"></p>

                    <div class="price-box-bar">
                        <div class="cart-and-bay-btn">
                            <a class="btn hvr-hover" data-fancybox-close="" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-12">
            <div class="title-all text-center">
                <h1>Related Products</h1>
            </div>
            <div class="featured-products-box owl-carousel owl-theme">
                <div class="item" th:each="related : ${sameCategory}">
                    <form method="post" th:action="@{/add_to_cart}">

                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img class="img-fluid" src="" th:src="*{'data:image/jpeg;base64,'+{related.image}}">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a data-placement="right" data-toggle="tooltip"
                                               th:href="@{'/product_details/'+${product.id}}"
                                               title="View"><i class="fas fa-eye"></i></a></li>
                                    </ul>
                                    <input name="id" th:value="${related.id}" type="hidden">
                                    <input type="submit" value="Add to Cart">
                                </div>
                            </div>
                            <div class="why-text">
                                <h4 th:text="${related.name}"></h4>
                                <h5 th:text="${related.sellPrice}"></h5>
                                <!--                        <h6 th:text="${product.category.name}"></h6>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="owl-nav">

            </div>
        </div>

    </div>
</div>
<!-- Start Feed  -->
<div th:replace="fragments:: instagram_box"></div>
<!-- Start Footer  -->
<footer th:replace="fragments:: footer"></footer>
<!-- Script Start-->
<div th:replace="fragments:: scripts"></div>
</body>

</html>